@section Scripts {
    <script type="text/javascript" src="~/js/live.js"></script>
}

@{
    ViewData["Title"] = "Live";
}
<h1>Live</h1>

<div>
    <video id="remoteVideo_01" poster="~/resources/avatar.jpg" autoplay playsinline muted></video>
</div>
<div>
    <video id="remoteVideo_02" poster="~/resources/avatar.jpg" autoplay playsinline muted></video>
</div>

