@section Scripts{
    <script src="~/js/quality.js"></script>
}

<h1>Quality</h1>
<video id="previewVideo" style="width: 300px; height: 150px;" autoplay playsinline muted></video>
<video id="remoteTrack" style="width: 600px; height: 300px;" autoplay playsinline muted></video>

<button id="startBtn">Start</button>
<button id="createPreviewBtn">Start Preview</button>
<button id="180pBtn">180</button>
<button id="360pBtn">360</button>
<button id="720pBtn">720</button>
<button id="selectIds">Select Ids</button>